.studentInfo h3 {
  font-size: 12px;
  color: #42526e;
  padding-bottom: 3px;
  /* font-weight: 500; */
}

span.studentInfo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.studentInfo p {
  font-size: 12px;
  color: #000000;
  font-weight: 500;
}
/* Hide the scrollbar arrows and customize the width */
.teacher-list::-webkit-scrollbar {
  width: 6px; /* Make the scrollbar narrower */
}

/* Scrollbar track (background) */
.teacher-list::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light background for the scrollbar track */
  border-radius: 10px;
}

/* Scrollbar handle (the draggable part) */
.teacher-list::-webkit-scrollbar-thumb {
  background: #888; /* Customize the color of the scrollbar */
  border-radius: 10px; /* Round the corners */
}

/* Scrollbar handle when hovered */
.teacher-list::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darken the scrollbar when hovering */
}

@media screen and (max-width: 639px) {
  #content {
    width: 100%;
  }
}

.hide-scrollbar {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
