@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f7ff;
}
.center-calendar {
  /* height: calc(100vh - 42.9px); */
  height: calc(100vh - 120px);
}

